# Fitbit API Credentials
VITE_FITBIT_CLIENT_ID=
FITBIT_CLIENT_SECRET=

# Google Health / Fit API Credentials (Optional)
VITE_GOOGLE_HEALTH_CLIENT_ID=
GOOGLE_HEALTH_CLIENT_SECRET=

# The URL of your app (provided by the platform)
APP_URL=
